{% extends 'base.html' %}
{% block content %}

<div class="container">
  <div class="jumbotron">
    <h2 class="text-center">NLP Quiz app</h2>
    <h5 class="text-center" style="margin-bottom: 40px;">Takes a moment, please be patient after submitting</h5>
    <h4>Input text:</h4>
    <br />

    <form action="{{ url_for('quiz') }}" method="post">
      <textarea class="form-control" rows="20" cols="110" name="input"></textarea>
      <!-- <input type="submit" value="Generate Quiz"> -->
      <button type="submit" class="btn btn-primary btn-lg float-right" style="margin-top: 10px;">Generate Quiz</button>
    </form>
  </div>
</div>
<hr />
<div class="container">
  <div class="jumbotron">
    <h3>You can use this example text if you like</h3>

    <div class="question">
      {{data | safe}}
      <br />
    </div>
  </div>
</div>
{% endblock %}
