{% extends 'base.html' %}
{% block content %}

<div class="container">
  <div class="jumbotron">
    <h2 class="text-center">Quiz</h2>

    <form action="{{ url_for('grade') }}" method="post">
      <div style="margin-bottom: 5px;">
        1: {{data2 | safe}}
        <br />
      </div>

      <div style="margin-bottom: 25px;">
        <input style="margin:10px;" type="radio" name='1' value={{data3[0]}}>{{data3[0]}}
        <input style="margin:10px;" type="radio" name='1' value={{data3[1]}}>{{data3[1]}}
        <input style="margin:10px;" type="radio" name='1' value={{data3[2]}}>{{data3[2]}}
        <input style="margin:10px;" type="radio" name='1' value={{data3[3]}}>{{data3[3]}}
        <br />
      </div>

      <div style="margin-bottom: 5px;">
        2: {{data4 | safe}}
        <br />
      </div>

      <div style="margin-bottom: 25px;">
        <input style="margin:10px;" type="radio" name='2' value={{data5[0]}}>{{data5[0]}}</li>
        <input style="margin:10px;" type="radio" name='2' value={{data5[1]}}>{{data5[1]}}</li>
        <input style="margin:10px;" type="radio" name='2' value={{data5[2]}}>{{data5[2]}}</li>
        <input style="margin:10px;" type="radio" name='2' value={{data5[3]}}>{{data5[3]}}</li>
        <br />
      </div>

      <div style="margin-bottom: 5px;">
        3: {{data6 | safe}}
        <br />
      </div>

      <div style="margin-bottom: 25px;">
        <input style="margin:10px;" type="radio" name='3' value={{data7[0]}}>{{data7[0]}}</li>
        <input style="margin:10px;" type="radio" name='3' value={{data7[1]}}>{{data7[1]}}</li>
        <input style="margin:10px;" type="radio" name='3' value={{data7[2]}}>{{data7[2]}}</li>
        <input style="margin:10px;" type="radio" name='3' value={{data7[3]}}>{{data7[3]}}</li>
        <br />
      </div>

      <div style="margin-bottom: 5px;">
        4: {{data8 | safe}}
        <br />
      </div>

      <div style="margin-bottom: 25px;">
        <input style="margin:10px;" type="radio" name='4' value={{data9[0]}}>{{data9[0]}}</li>
        <input style="margin:10px;" type="radio" name='4' value={{data9[1]}}>{{data9[1]}}</li>
        <input style="margin:10px;" type="radio" name='4' value={{data9[2]}}>{{data9[2]}}</li>
        <input style="margin:10px;" type="radio" name='4' value={{data9[3]}}>{{data9[3]}}</li>
        <br />
      </div>

      <div style="margin-bottom: 5px;">
        5: {{data10 | safe}}
        <br />
      </div>

      <div style="margin-bottom: 25px;">
        <input style="margin:10px;" type="radio" name='5' value={{data11[0]}}>{{data11[0]}}</li>
        <input style="margin:10px;" type="radio" name='5' value={{data11[1]}}>{{data11[1]}}</li>
        <input style="margin:10px;" type="radio" name='5' value={{data11[2]}}>{{data11[2]}}</li>
        <input style="margin:10px;" type="radio" name='5' value={{data11[3]}}>{{data11[3]}}</li>
        <br />
      </div>

      <div style="margin-bottom: 5px;">
        6: {{data12 | safe}}
        <br />
      </div>

      <div style="margin-bottom: 25px;">
        <input style="margin:10px;" type="radio" name='6' value={{data13[0]}}>{{data13[0]}}</li>
        <input style="margin:10px;" type="radio" name='6' value={{data13[1]}}>{{data13[1]}}</li>
        <input style="margin:10px;" type="radio" name='6' value={{data13[2]}}>{{data13[2]}}</li>
        <input style="margin:10px;" type="radio" name='6' value={{data13[3]}}>{{data13[3]}}</li>
        <br />
      </div>

      <div style="margin-bottom: 5px;">
        7: {{data14 | safe}}
        <br />
      </div>

      <div style="margin-bottom: 25px;">
        <input style="margin:10px;" type="radio" name='7' value={{data15[0]}}>{{data15[0]}}</li>
        <input style="margin:10px;" type="radio" name='7' value={{data15[1]}}>{{data15[1]}}</li>
        <input style="margin:10px;" type="radio" name='7' value={{data15[2]}}>{{data15[2]}}</li>
        <input style="margin:10px;" type="radio" name='7' value={{data15[3]}}>{{data15[3]}}</li>
        <br />
      </div>

      <div style="margin-bottom: 5px;">
        8: {{data16 | safe}}
        <br />
      </div>

      <div style="margin-bottom: 25px;">
        <input style="margin:10px;" type="radio" name='8' value={{data17[0]}}>{{data17[0]}}</li>
        <input style="margin:10px;" type="radio" name='8' value={{data17[1]}}>{{data17[1]}}</li>
        <input style="margin:10px;" type="radio" name='8' value={{data17[2]}}>{{data17[2]}}</li>
        <input style="margin:10px;" type="radio" name='8' value={{data17[3]}}>{{data17[3]}}</li>
        <br />
      </div>

      <div style="margin-bottom: 5px;">
        9: {{data18 | safe}}
        <br />
      </div>

      <div style="margin-bottom: 25px;">
        <input style="margin:10px;" type="radio" name='9' value={{data19[0]}}>{{data19[0]}}</li>
        <input style="margin:10px;" type="radio" name='9' value={{data19[1]}}>{{data19[1]}}</li>
        <input style="margin:10px;" type="radio" name='9' value={{data19[2]}}>{{data19[2]}}</li>
        <input style="margin:10px;" type="radio" name='9' value={{data19[3]}}>{{data19[3]}}</li>
        <br />
      </div>

      <div style="margin-bottom: 5px;">
        10: {{data20 | safe}}
        <br />
      </div>

      <div style="margin-bottom: 25px;">
        <input style="margin:10px;" type="radio" name='10' value={{data21[0]}}>{{data21[0]}}</li>
        <input style="margin:10px;" type="radio" name='10' value={{data21[1]}}>{{data21[1]}}</li>
        <input style="margin:10px;" type="radio" name='10' value={{data21[2]}}>{{data21[2]}}</li>
        <input style="margin:10px;" type="radio" name='10' value={{data21[3]}}>{{data21[3]}}</li>
        <br />
      </div>

      <button type="submit" class="btn btn-primary btn-lg">Submit for Grade</button>
      <button type="button" class="btn btn-default btn-lg float-right">
        <a href="{{ url_for('index') }}">Back to start page</a></button>
    </form>
  </div>
</div>

{% endblock %}
